body{
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

    font-weight: normal;

    color: white;

}
header{
    background-color: #31639c;
}
.container{
    width:80%;
    margin:auto;
}

.column{
    flex: 1;
}

.row{
    display: flex;
    justify-content:space-between;
}

header ul{
    display:flex;
    list-style: none;
    padding-top: 16px;
}

header li{
    padding-left: 40px;
    padding-right: 40px;
}

.content{
    display:flex;
    background:  url("../Images/office.jpg")  no-repeat;
    min-height: 400px;
    opacity:0.99; 
    text-align: center;
    padding-left:10px;
    padding-top: 10px;
    background-size: cover;
}


.subscribe{
    background-color: #31639c;
    display: flex;
    font-size: 20px;
    

}
.subscribe .container{
    display: flex;
    justify-content: space-between;
}

.subscribe form{
    flex-direction: row;
    margin-top: 15px;

}

.subscribe input[type= "email"]{
    height: 30px;
    width: 200px;
    padding-right:  30px;

}
.subscribe button{
    height: 37px;
    background: #0e9aac;
    border:0;
    color: white;
}

.services{
    color: black;
    text-align: center;
}

.services  img{
    height: 100px;
    margin-top: 10px;
}

.services .column{
    text-align: center;
}

footer{
    text-align: center;
    background-color:#31639c;
    padding: 15px;
}

.content_opacity{
    text-shadow: 2px 1px black;
    font-size: 20px;
}